.true-edit-button{
  visibility: visible;
  background-color: orange;
}

.false-edit-button{
  display: none;
}

.product{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border-radius: 5px;
  background-color: lavender;
  padding: 10px;
  box-shadow: 9px 9px 15px gray;
}

.header{
  height: 35px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: honeydew;
  padding: 10px;
}

img{
  width: 250px;
}

button{
  background-color: none;
  margin: 10px;
  padding: 7px 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: indianred;
  cursor: pointer;
}

button:hover{
  background-color: rgb(208, 110, 110)
}

.header-btn{
  background-color: indianred;
  
}